/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    #logo-img {
        background: url("../images/restaurant-logo_medium.png") no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }

    .container .jumbotron {
        background: url("../images/jumbotron_992.jpg") no-repeat;
        height: 558px;
    }
}
