#menu-tile,
#specials-tile,
#map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;

    &:hover {
        box-shadow: 0 1px 5px 1px #cccccc;
    }
}